<%- include('./partials/head') %>

<main class="newPlaylistPage">
    <a href="/lessons" id="backIcon"> <%- include('./partials/backSVG') %> </a>
    <div class="newPlaylist">
        <h1>New playlist</h1>
        <form>       
            <a href="/lessons" disabled id="submitPL" type="submit">Make playlist</a>
            <button id="addImg"> <%- include('./partials/cameraSVG') %> </button>
            <input id="playlistName" type="text" required placeholder="Name playlist">
        </form>
    </div>
</main>

<%- include('./partials/foot') %>