*,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
  }

 /*___ __ __  __  ______   ___   ___  ___    ____  ____    ___   ____   ____ ____  ______ __  ____  __ 
  //   || || (( \ | || |  // \\  ||\\//||    || \\ || \\  // \\  || \\ ||    || \\ | || | || ||    (( \
 ((    || ||  \\    ||   ((   )) || \/ ||    ||_// ||_// ((   )) ||_// ||==  ||_//   ||   || ||==   \\ 
  \\__ \\_// \_))   ||    \\_//  ||    ||    ||    || \\  \\_//  ||    ||___ || \\   ||   || ||___ \_))*/

:root {
  /* BACKGROUND COLOURS */
  --method-1: rgba(71,24,113,1);
  --method-2: rgba(20,33,81,1);
  --method-3: rgb(20,33,81);
  
  --statistics-1: rgba(33,155,155,1);
  --statistics-2: rgba(27,112,112,1);
  --statistics-3: rgb(27,112,112);
  
  --testing-1: rgba(33,89,155,1);
  --testing-2: rgba(27,61,112,1);
  --testing-3: rgb(27,61,112);
  
  --profile-1: rgba(240,119,93,1) ;
  --profile-2:  rgba(180,87,81,1) ;
  --profile-3: rgb(180,87,81);

  --method-bg: linear-gradient( var(--method-1), var(--method-2), var(--method-3));
  --statistics-bg: linear-gradient( var(--statistics-1), var(--statistics-2), var(--statistics-3));
  --testing-bg: linear-gradient( var(--testing-1), var(--testing-2), var(--testing-3));
  --profile-bg: linear-gradient( var(--profile-1), var(--profile-2), var(--profile-3));
  --menu-overlay-bg: rgba(41, 41, 41, 0.95);

  /* MENU COLOURS */
  --menu-bg: #494949;
  --menu-clr: #f8f8f8;
  --active-menu-bg: #fbfbfb;
  --active-menu-clr: #282828;

  --home-btn-bg: #3f92b6;
  --testing-btn-bg: #599ae7;
  --lessons-btn-bg: #954be2;
  --statistics-btn-bg: #06a192;
  --profile-btn-bg: #fd8c73;

  --btn-bg:#9264F4; 
}

@font-face {
    font-family: "Poppins";
    src: url(/font/Poppins-Regular.ttf);
  }
@font-face {
    font-family: "PoppinsBold";
    src: url(/font/Poppins-SemiBold.ttf);
  }

/* BACKGROUNDS FOR DIFFERENT PAGES */

.homescreen {
  background-image: url(/images/home.png);
  background-size: 100vw, 100vh;
}

.lessonsPage {
  background: var(--method-bg);
  width: 100%;
}

/*__  __   ___   ___  ___  ____    ____   ___    ___   ____
  ||  ||  // \\  ||\\//|| ||       || \\ // \\  // \\ ||   
  ||==|| ((   )) || \/ || ||==     ||_// ||=|| (( ___ ||== 
  ||  ||  \\_//  ||    || ||___    ||    || ||  \\_|| ||___*/

.start-text {
  background: var(--menu-clr);
  padding: 0.5em;
  width: 14em;
  border-radius: 8px;
  position: absolute; left: 2.5em; top: 21.5em;
}

#start {
  background: var(--lessons-btn-bg);
  border: none;
  border-radius: 8px;
  color: var(--menu-clr);
  height: 2em;
  margin-top: 1em;
  width: 15.5em;
}

/*___   ____ __  __  ____ ____   ___  __   
 // \\ ||    ||\ || ||    || \\ // \\ ||   
(( ___ ||==  ||\\|| ||==  ||_// ||=|| ||   
 \\_|| ||___ || \|| ||___ || \\ || || ||__| */
                                          
h1 {
  font-size: 32px;
  color: var(--active-menu-bg);
  text-align: center;
  padding: 1em;
}

h2 {
  font-size: 28px;
  color: var(--active-menu-bg);
  padding-left: 1em;

}

h3, h4, h5 {
  font-size: 20px;
  color: var(--active-menu-bg);
  padding-left: 1em;
}

p {
  font-size: 16px;
  color: var(--menu-bg);
}

a {
    color: var(--active-menu-bg);
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }

  button p {
    color: var(--menu-clr);
  }

/*__  __  ___  __ __ __   ___   ___  ______ __   ___   __  __
  ||\ || // \\ || || ||  // \\ // \\ | || | ||  // \\  ||\ ||
  ||\\|| ||=|| \\ // || (( ___ ||=||   ||   || ((   )) ||\\||
  || \|| || ||  \V/  ||  \\_|| || ||   ||   ||  \\_//  || \|| */

.bar {
  background-color: var(--menu-clr);
  display: block;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  width: 25px;
}

.navigatie {
  background: var(--menu-bg);
  border: none;
  border-radius: 16px;
  bottom: 2em;
  cursor: pointer;
  margin: 0em 1em 0em 1em;
  padding: 0.5em;
  position: fixed;
  right: 1em;
  z-index: 999;
}

.navigatie {
  display: block;
}

.navigatie.active {
  background-color: var(--active-menu-bg);
}

.navigatie.active .bar:nth-child(2) {
  opacity: 0;
}

.navigatie.active .bar:nth-child(1) {
    background-color: var(--active-menu-clr);
    transform: translateY(8px) rotate(45deg);
  }

.navigatie.active .bar:nth-child(3) {
    background-color: var(--active-menu-clr);
    transform: translateY(-8px) rotate(-45deg);
  }

.home-menu {
  visibility: hidden;
}

.home-menu-active {
    background-color: var(--menu-overlay-bg);
    border: none;
    visibility: visible;
    z-index: 648;
  }

dialog {
      display: grid;
      gap: 50px;
      grid-template-columns: auto auto;
      height: 100%;
      justify-content: center;
      padding: 3em;
      width: 100%;
  }

dialog a {
    align-items: center;
    border-radius: 16px;
    color: var(--menu-clr);
    display: flex;
    flex-direction: column;
    height: 113px;
    justify-content: center;
    padding: 1em;
    text-decoration: none;
  }

dialog a:nth-of-type(1) {
  background: var(--home-btn-bg);
}

dialog a:nth-of-type(2) {
  background: var(--testing-btn-bg);
}

dialog a:nth-of-type(3) {
  background: var(--lessons-btn-bg);
}

dialog a:nth-of-type(4) {
  background: var(--statistics-btn-bg);
}

dialog a:nth-of-type(5) {
  background: var(--profile-btn-bg);
}

dialog p {
  color: var(--active-menu-bg);
}

.activePage {
  border: solid 5px var(--active-menu-bg);
}

/*__     ____  __   __    ___   __  __  __ 
  ||    ||    (( \ (( \  // \\  ||\ || (( \
  ||    ||==   \\   \\  ((   )) ||\\||  \\ 
  ||__| ||___ \_)) \_))  \\_//  || \|| \_)) */


.ownPlaylist {
  display: flex;
  flex-direction: row;
  }

.playlist {
  display: flex;
  flex-wrap: wrap;
}

.playlist li, .makeAPlaylist {
  background: var(--menu-clr);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 14em;
  margin: 2em;
  padding: 0.5em;
  position: relative;
  width: 10em;
}

.playlist img {
  border-radius: 8px;
  height: 7.5em;
}

.playPlaylist {
  bottom: 0.5em;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: max-content;
}

.playlist li p:first-child {
  font-weight: bold;
}

.playlist p:last-child {
  bottom: 1.3em;
  font-size: 12px;
  left: 3em;
  position: absolute;
}

.makeAPlaylistBtn {
  cursor: pointer;
  background: none;
  border: none;
  height: max-content;
}

.makeAPlaylist {
  background: rgb(73, 67, 117,0.9);
}

.makeAPlaylist svg {
  fill: var(--menu-clr);
}

.makeAPlaylist svg:hover {
  fill: var(--btn-bg);
}

.makeAPlaylist p:nth-of-type(1) {
  color: var(--active-menu-bg);
  padding: 0.5em;
  width: max-content;
}

.makeAPlaylist p:nth-of-type(2) {
  color: var(--active-menu-bg);
  font-size: 13px;
  margin-top: 1.5em;
  text-align: center;
}

.makeAPlaylist svg {
  margin: 0.5em 2.5em 0 2.5em;
}

.newPlaylistOpen {
  visibility: visible;
  background: var(--method-bg);
  height: 40em;
  width: 24em;
  padding: 3em;
  z-index: 956;
  position: absolute;
  border: 2px solid var(--method-3);
}

.newPlaylist {
  visibility: hidden;
}

#closeDialog {
  background: none;
  height: max-content;
  width: max-content;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 4em;
  left: 1em;
}

.newPlaylist h2 {
  width: max-content;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 3em;
  left: 20%;
}

#submitPL {
  background: none;
  height: max-content;
  width: 4em;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5em;
  right: 1em;
  color: var(--menu-clr);
}

#addImg {
  position: absolute;
  top: 13em;
  left: 6em;
  background: var(--btn-bg);
  padding: 6em;
  border-radius: 8px;
}

.newPlaylist input {
  width: 20em;
  height: 3em;
  position: absolute;
  top: 32em;
  left: 2.2em;
}

.heart, .redHeart {
  bottom: 1em;
  position: absolute;
  right: 1em;
}

.phases {
  counter-reset: list-counter;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 2em;
  overflow: scroll;
  overflow-y: hidden;  
  width: 25em;
}

#listening, #locked {
  background: #139943;
  border-radius: 8px;
  color: var(--active-menu-bg);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;
  padding: 4px;
  min-width: 20em;
}

#listening p, #locked p {
  color: var(--active-menu-bg);
}

/* __  ______   ___   ____  __  ____  __ 
 (( \ | || |  // \\  || \\ || ||    (( \
  \\    ||   ((   )) ||_// || ||==   \\ 
 \_))   ||    \\_//  || \\ || ||___ \_)) */

#languageSelect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

#languageButton {
  display: flex;
  flex-direction: row;
  height: 2.5em;
  border-radius: 8px;
  border: none;
  background: var(--active-menu-bg);
  margin: 0.5em;
  padding: 0.3em;
  width: max-content;
}

#languageButton p {
  color: var(--active-menu-clr);
}

#languageButton img {
  padding: 0.2em 0.2em 0 0;
}

section:nth-of-type(3) a {
  margin: 1em;
}
.stories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stories li {
  background: var(--menu-clr);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: 8em;
  margin: 2em;
  padding: 0.5em;
  position: relative;
  width: 28em;
}

.stories img {
  height: 7em;
  width: 7em;
  border-radius: 8px;
}

.storyInfo {
  display: flex;
  flex-direction: column;
}

.stories p:nth-of-type(1) {
  padding-left: 0.5em;
}

.stories p:nth-of-type(2) {
  font-size: 11px;
  line-height: 1.3em;
  padding-left: 0.5em;
}

#storyFlag {
  height: 1em;
}

.playStory {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 0.5em 0 0 0.5em;
  width: max-content;
}
  

.addToPlaylist, .downloadStory  {
  background: none;
  border: none;
}

.downloadStory {
  bottom: 1em;
  position: absolute;
  right: 3em;
}

.addToPlaylist {
  bottom: 1.25em;
  position: absolute;
  right: 1em;
}

.pages {
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-content: center;
}

 #next, #previous {
  background: #9264F4;
  border: none;
  border-radius: 8px;
  color: var(--active-menu-bg);
  height: 2em;
  width: 4em;
}

.back-icon {
  top: 2.5em;
  position: absolute;
}

/*___  __    __        __  ______   ___   ____  __  ____  __ 
 // \\ ||    ||       (( \ | || |  // \\  || \\ || ||    (( \
 ||=|| ||    ||        \\    ||   ((   )) ||_// || ||==   \\ 
 || || ||__| ||__|    \_))   ||    \\_//  || \\ || ||___ \_))  */

 input {
  width: 30em;
  display: flex;
  justify-content: center;
  padding: 0.2em;
  border: none;
  border-radius: 8px;
  margin: 2em;
 }

 input:focus {
  border: solid 5px var(--btn-bg);
 }

 .filters {
  margin: 2em;
  border: none ;
 }

 select {
  background: var(--btn-bg);
  color: var(--active-menu-bg);
  padding: 0.2em;
  margin: 0.5em;
  border-radius: 8px;
 }

 /* ___  ___  ___  __ __  ____     ___     ____  __     ___  _  _ __    __  __  ______
    ||\\//|| // \\ || // ||       // \\    || \\ ||    // \\ \\// ||    || (( \ | || |
    || \/ || ||=|| ||<<  ||==     ||=||    ||_// ||    ||=||  )/  ||    ||  \\    ||  
    ||    || || || || \\ ||___    || ||    ||    ||__| || || //   ||__| || \_))   ||  */ 

